<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
    
    <key>Label</key>
    <string>teams.bg</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>exec $HOME/software/development/github/random-teams-bg/.venv/bin/python3 $HOME/software/development/github/random-teams-bg/random_teams_bg/util.py $HOME/software/development/github/random-teams-bg/config/random_teams_bg.cfg</string>
    </array>

    <key>Nice</key>
    <integer>1</integer>

    <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>06</integer>
            <key>Minute</key>
            <integer>01</integer>
        </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/teams-bg.err</string>

    <key>StandardOutPath</key>
    <string>/tmp/teams-bg.out</string>
    </dict>
</plist>
